@use '../../../../../common/styles/templates.module';

.icon {
    --socnet-size: 50px;
    width: var(--socnet-size);
    height: var(--socnet-size);
    border: 1px solid #31383d;
    @include templates.flexCenter;
    font-size: 35px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        color: black;
        background-color: var(--color-light-primary);
        border: 1px solid var(--color-light-primary);
    }
    a, a:visited {
        height: 35px;
        text-decoration: none;
        color: var(--color-light-primary);
    }

    @media(max-width: 500px) {
        --socnet-size: 40px;
    }

}