@import 'src/common/styles/templates.module';

.backgrounded {
  background-color: var(--color-dark-primary) !important;
}

.header {
  z-index: 2;
  height: 85px;
  background-color: transparent;
  @include flexCenter(space-between);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;
  @media (max-width: 1140px) {
    justify-content: center;
  }
}

$side: 70px;


.field {
  position: relative;
  width: 120px;
  height: 120px;
  font-family: var(--font-secondary);
  @include flexCenter(center);

  .lang {
    width: $side;
    height: $side;
    @include flexCenter(center);
    transition: 500ms;
  }

  .control {
    width: calc($side / 2 + 1px);
    height: calc($side / 2 + 1px);
    background: radial-gradient(#d5d4d4, #ece9e9, #070707);
    border-radius: 50%;
    outline: 3px solid #343333;
    position: relative;
    @include flexCenter(center);
  }

  .controlBorder {
    width: calc($side / 2 + $side / 10);
    height: calc($side / 2 + $side / 10);
    border-radius: 50%;
    background: radial-gradient(#181717, #797676, #070707);
    @include flexCenter(center);
    outline: 1px solid #343333;
  }

  .risk {
    width: 6px;
    height: 6px;
    position: relative;
    right: -30%;
    border-radius: 50%;
    background: radial-gradient(white, white, black);
    box-shadow: black 0 0 3px 1px;
    transition: 1s;
  }

  .button {
    cursor: pointer;
    transition: 500ms;
  }


  .variants {
    position: absolute;
    width: 0;
    height: 0;
  }

  .variant {
    position: absolute;
    cursor: pointer;
    width: max-content;
    height: max-content;
    transition: 500ms;
  }

  .variant:hover {
    text-shadow: red 0 0 10px;
  }

  .chosenVariant {
    color: var(--color-theme);
  }
}

.field:focus {
  .button {
    transform: scale(1.2);
    box-shadow: var(--color-theme) 0 0 10px 2px;
  }
}







