@import 'src/common/styles/templates.module';

.backgrounded {
  background-color: var(--color-dark-primary) !important;
}

.header {
  z-index: 2;
  height: 85px;
  background-color: transparent;
  @include flexCenter(space-between);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;
  padding: 0 1%;
  @media (max-width: 1140px) {
    justify-content: center;
  }
}









