@import 'src/common/styles/templates.module';

$side: 70px;
$letterSpacing: 3px;

.field {
  width: 120px;
  height: 120px;
  font-family: var(--font-secondary);

  &:focus {
    .button {
      transform: scale(1.1);
      box-shadow: var(--color-theme) 0 0 10px 2px;
    }
  }

  .choicer {
    z-index: 1;
    width: $side;
    height: $side;
  }

  .choicer * {
    border-radius: 50%;
  }

  .control {
    width: calc($side / 2 + 1px);
    height: calc($side / 2 + 1px);
    background: radial-gradient(#d5d4d4, #ece9e9, #070707);
    outline: 3px solid #343333;
  }

  .controlBorder {
    width: calc($side / 2 + $side / 10);
    height: calc($side / 2 + $side / 10);
    background: radial-gradient(#181717, #797676, #070707);
    outline: 1px solid #343333;
  }

  .risk {
    width: 6px;
    height: 6px;
    right: -30%;
    background: radial-gradient(white, white, black);
    box-shadow: black 0 0 3px 1px;
  }

  .variant {
    background: var(--color-dark-primary);
    text-transform: uppercase;
    height: 1rem;
    border-radius: 0;
    @include flexCenter;
    letter-spacing: $letterSpacing;
  }

  .variant:hover {
    text-shadow: red 0 0 10px;
  }

  .chosenVariant {
    color: var(--color-theme);
  }
}

.canvasCircle {
  background: var(--color-dark-primary);
}

.choiceCaption {
  @include flexCenter(center, flex-start);
  text-transform: uppercase;
  font: var(--font-secondary);
  outline: 2px solid gray;
  width: calc($side * 1.25);
  height: calc($side * 1.25);

  span {
    transform: translateY(-60%);
    letter-spacing: $letterSpacing;
    background-color: var(--color-dark-primary);
  }
}