.modalContainer {
  position: fixed;
  top: 0;
  min-height: 100vh;
  left: 0;
  right: 0;
  z-index: 2;
  background: var(var(--dark-primary-color));
}


.modalContent {
  position: relative;
  min-height: 50%;
  border: 1px solid var(var(--color-light-primary));
  border-radius: 0.25rem;
  min-width: 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2rem;

  .closeBtn {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background: var(var(--color-theme));
    border: 2px solid var(var(--color-light-primary));
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
    color: var(--color-theme);
    transition: 300ms;
    z-index: 1;

    &:hover {
      opacity: .8;
    }
  }
}

.canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: url(#liquid);
  cursor: none;
}

.svg {
  position: fixed;
  height: 1px;
}
