.submitBtn, .submitBtn:focus {
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid var(var(--color-theme));
  color: var(var(--color-theme));
  font-family: "Roboto Mono", monospace;
  transition: 0.8s;

  &:hover {
    color: var(var(--color-light-primary));
    background-color: var(var(--color-theme));
  }

  &:disabled {
    cursor: default;
    opacity: .5;

    &:hover {
      background: transparent;
      color: var(var(--color-theme));
    }
  }
}