@use '../../../../../common/styles/templates.module';


.skill {
  --skill-icon-size: 70px;
  --skill-header-font-size: 1.5rem;

  width: 320px;
  @include templates.flexCenter(center, center);
  flex-direction: column;
  padding: 32px;
  @media screen and (max-width: 1280px) {
    width: 290px;
  }
  @media screen and (max-width: 1150px) {
    width: 250px;
  }
  @media screen and (max-width: 1020px) {
    width: 320px;
  }
  @media screen and (max-width: 840px) {
    width: 100%;
    padding: 0;
    --skill-align-items: center;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 0;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    --skill-icon-size: 50px;
    --skill-header-font-size: 1rem;
    padding: 0;

    .skillContainer {
      & > *:last-child {
        display: none;
      }
    }
  }

  .skillContainer {
    font-family: var(--font-primary);
    @include templates.flexCenter(flex-start);
    flex-direction: column;
    height: 100%;

    .icon {
      width: var(--skill-icon-size);
      height: var(--skill-icon-size);
      @include templates.flexCenter();

      * {
        color: var(--color-theme);
        font-size: var(--skill-icon-size);
      }
    }

    h3 {
      font-size: var(--skill-header-font-size);
      font-weight: 450;
      margin: 18px 0;
    }

    p {
      font-weight: 200;
      color: var(--font-secondary);
      margin: 0;
    }
  }

  & > * {
    text-align: center;
    @include templates.flexCenter();
  }
}



