@use '../../../../common/styles/templates.module';

$squareSize: 16px;

.main {
  color: var(--color-light-primary);
  height: 100vh;
  background-color: var(--color-dark-primary);
  background: url('../../../../../src/assets/pic/ava.webp');
  background-position: center;
  background-size: cover;


  span:first-child {
    color: var(--olor-light-secondary);
    white-space: pre-line;
  }

  span:nth-child(2) {
    color: var(--color-theme);
    animation: hideShow;
    animation-iteration-count: infinite;
    animation-duration: .7s;
    animation-timing-function: steps(2, jump-none);
  }

  .photo {
    position: relative;
    width: 300px;
    height: 600px;
    background-color: rgba(var(--color-dark-primary), .4);
    @media (max-width: 1140px) {
      display: none;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(var(--color-dark-primary), .3);
      transform: translate(10%, 10%);
    }
  }
}

.content {
  width: 40%;
  height: 100%;
  padding-top: 100px;
  font-family: var(--font-primary);
  @media (max-width: 700px) {
    width: 100%;
  }
}

@keyframes hideShow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

