@import 'src/common/styles/templates.module';

$squareSize: 16px;

.main {
  color: var(--color-light-primary);
  height: 100vh;
  background-color: var(--color-dark-primary);
  padding-bottom: 100px;
  background: url('../../../../../src/assets/pic/ava.webp');
  background-position: center;
  background-size: cover;

  .container {
    gap: 60px;
    justify-content: space-between;

    .greeting {
      width: 550px;
      font-family: var(--font-secondary);
      @media (max-width: 700px) {
        width: 400px;
      }
      @media (max-width: 700px) {
        width: 300px;
      }

      .rest {
        color: var(--color-light-secondary);
        font-size: 32px;
        margin: 5px 15px 15px 0;
      }

      .name {
        text-align: center;
        font-family: var(--font-primary);
        letter-spacing: 0.1em;
        font-weight: 100;
        position: relative;
        font-size: 45px;
        @include flexCenter(center);
        border: 1px solid var(--color-light-primary);
        margin: 0;
        padding: 15px 0;

        &::before {
          content: '';
          display: block;
          background-color: var(--color-theme);
          width: $squareSize;
          height: $squareSize;
          position: absolute;
          bottom: -($squareSize / 2);
          right: -($squareSize / 2);
        }

      }

      p {
        font-size: 26px;

        span {
          color: var(--color-light-secondary);
        }

        .keyboardSpan {
          color: var(--color-theme);
          animation: hideShow;
          animation-iteration-count: infinite;
          animation-duration: .7s;
          animation-timing-function: steps(2, jump-none);
        }
      }

    }

    .photo {
      position: relative;
      width: 300px;
      height: 600px;
      background-color: rgba(var(--color-dark-primary), .4);
      @media (max-width: 1140px) {
        display: none;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(var(--color-dark-primary), .3);
        transform: translate(10%, 10%);
      }
    }
  }
}

@keyframes hideShow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

