@import '../../common/styles/templates.module';

.up {
    position: fixed;
    @include flexCenter(center);
    background-color: var(--color-theme);
    width: 55px;
    height: 55px;
    bottom: 150px;
    border-radius: 0 5px 5px 0;
    left: 0;
    opacity: 0;
    animation: show 3s forwards;
    cursor: pointer;
    .svg {
        color: var(--color-dark-primary);
    }
}

@keyframes show {
    to {
        opacity: .5;
    }
}