.nava {
  max-width: 100%;
  display: flex;
  column-gap: 2%;
  justify-content: space-between;
  margin-right: 50px;
  transition: .8s;
  @media (max-width: 1140px) {
      width: 100%;
      margin-right: 0;
      justify-content: space-around;
  }
  .linkContainer {
    .link {
      cursor: pointer;
      font-weight: 400;
      letter-spacing: .1em;
      font-family: var(--primary-font);
      font-size: 1.3em;
      text-decoration: none;
      line-height: 1.7;
      transition: all 0.3s ease-in-out;
      color: var(--white);
      &:hover {
        color: var(--secondary-color);
      }
      &:focus {
        outline: none;
      }
      @media (max-width: 600px) {
        font-size: 1em;
      }
      @media (max-width: 450px) {
        font-size: 0.8em;
      }
    }
    .active {
      color: var(--secondary-color);
    }

    .underMenu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
      height: 3px;
      width: 100%;
      transition: background-color 0.3s ease-in-out;
    }

    .underActive:before {
      content: '';
      display: block;
      background-color: var(--secondary-color);
      height: 100%;
      width: 0;
      animation: getWidth 0.3s ease-in;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes getWidth {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

.loginContainer {
  background: transparentize(#252b2f, .2);
  height: max-content;
  min-height: unset !important;
  margin: 2rem;
  max-width: 100% !important;
  width: max-content;
  min-width: 300px !important;
}

.loginBtn {
  position: relative;
  top: 0.1rem;
}