.container {
  display: grid;
  row-gap: 2rem;
  padding: 1rem;
  h1 {
    margin: 0;
    text-align: center;
    font-family: var(--primary-font);
  }
  .submit {
    justify-content: flex-end;
  }
}