.flex {
    display: flex;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullBordered {
    border-radius: 50%;
}

.abs {
    position: absolute;
    inset: 0;
}

.rel {
    position: relative;
}

.unobservable {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

.transformToCenter {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.transition {
    transition: 500ms;
}

.maxContent {
    width: max-content;
    height: max-content;
}

.origin {
    width: 0;
    height: 0;
}


