.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: max-content;
  padding: 1rem;
  background: var(--color-dark-primary);
  z-index: 3;
}

.textWrapper {
  font-size: 2rem;
  color: var(--color-theme);
  padding: 1rem;
  font-family: var(--font-secondary);
}