.wrapper {
    min-height: 60vh;
    background-color: #252b2f;
}

.container {
    flex-direction: column;
}

.inputsContainer {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputs {
    width: 100%;
    flex-direction: column;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    display: grid;
    grid-template-areas:'name email''subject subject''message message''submit submit';
    margin-bottom: 2rem;
}

@media (max-width: 1000px) {
    .inputs {
        grid-template-areas:'name''email''subject''message''submit';
    }
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.subject {
    grid-area: subject;
}

.submit {
    grid-area: submit;
    justify-content: flex-end;
    @media (max-width: 600px) {
        justify-content: center;
    }
}

.message {
    grid-area: message
}

